body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: hsl(0, 81%, 47%);
    color: #b76411;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    
  }
  
  main {
    padding: 20px;
  }
  
  .hero {
    text-align: center;
  }
  
  .about {
    max-width: 600px;
    margin: auto;
  }
  
  .contact {
    max-width: 400px;
    margin: auto;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
 .image { 
    text-align: center;
    justify-content: center;
  }
  img{
    width: 250px;
    height: 250px;
   
  }